/* VARIABLES*/
$main-white:#FFFFFF;
$main-black:#000000;
$main-dark-black:#1A1A1A;
$main-mirage-blue:#1B262F;
$main-text-gray:#525252;
$main-orange-liner:linear-gradient(90.05deg, #E47500 -5.66%, #DF7C14 115.63%);
$main-btn-liner:linear-gradient(92.48deg, #FA8305 2.08%, #FB9E3C 117.25%);;
$main-button-color:#DC7000;
